.a1{
   
    border: 1px solid;
    border-radius: 3px;
    border-collapse: collapse;
    background-color:oldlace;
   
}
.a2{
    padding-left: 500px;
    padding-right: 520px;
    padding: auto;
}
.a3{
    text-align: center;
}
.a4{
    color: gray;
}
.a6{
    color: black;
}